{% extends "productivity/layout.html" %}

{% block body %}
    <div class="dodoer-background">
        <section class="bg-dark text-light p-5 p-lg-0 py-lg-5 text-center text-sm-start">
            <div class="container">
                <div class="d-sm-flex justify-content-around">
                    <div class="text-center">
                        <h1>{{ profile.user }}</h1>
                        <img id="profile-picture" src="static/profilepics/{{ profile.profile_picture }}" alt="{{ profile.user }} profile picture"></img>
                        <p>{{ profile.quote }}</p>
                        <form enctype="multipart/form-data" method="post" action="{% url 'profile' %}">
                            {% csrf_token %}
                            <input type="file" name="picture" required>
                            <input type="submit" class="btn btn-lg dodoer-background dodoer-btn" value="Edit profile picture" />
                        </form>
                            
                    </div>
                    <div>
                        <canvas id="productivity_chart" width="350" height="350"></canvas>
                        <hr>
                        <p>Productive time: {{ productive_time}} minutes.</p>
                        <p>Rest time: {{ break_time }} minutes.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sign up section -->
        <section class="dodoer-background text-light p-5">
            <div class="container">
                <div class="d-md-flex justify-content-between align-items-center">
                    <p>Here goes the full tasklist.</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}