{% extends "productivity/layout.html" %}

{% block body %}
    <div class="d-flex align-items-center">
        <div class="container text-center p-5">
            <h1 id="timer-title" class="pb-3">Time to work!</h1>
            <h3 id="timer"><span id="minutes">25</span>:<span id="seconds">00</span></h3>
            <button id="start-timer" class="btn btn-lg dodoer-btn dodoer-background m-1" onclick="timer('start_timer')">Start timer</button><button id="stop-timer" class="btn btn-lg dodoer-btn dodoer-background m-1" onclick="timer('stop_timer')">Stop timer</button>
        </div>
    </div>
{% endblock %}