body::before {
    display: block;
    content: '';
    height: 120px;
}

body{
    display:grid; 
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

.dodoer-background {
    background-color: #FCB76F;
}

.dodoer-text {
    color: #FCB76F;
}

.dodoer-link {
    color: #FCB76F !important;
    text-decoration: none;
}

.dodoer-link:hover {
    color: white;
    text-shadow: 0 0 11px #FCB76F; 
}

.footer-link {
    color: black;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}

.log-container {
    margin: auto;
    max-width: 540px;
}

.outerform {
    margin: 0px auto;
    width: 100%;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.log-link {
    color: #FCB76F;
    text-decoration: none;
}

.log-link:hover {
    color: black;
    text-shadow: 0 0 11px #FCB76F;
}

.dodoer-btn:hover {
    background-color: white;
    border: 1px solid #000;
}

#message {
    margin-left: auto;
    margin-right: auto;
    color: #FCB76F;
    font-size: 2em;
    margin-top: 10px;
}

#timer {
    color: #FCB76F;
    font-size: 100px;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#stop-timer {
    display: none;
}

@media(min-width: 768px) {
    .mail-input {
        width: 50%;
    }

    #timer {
        font-size: 200px;
    }
}


.dodoer-accordion[aria-expanded="true"] {
    background-color:#FCBF83 !important;
    color:black !important;
}

/*
Drag drop
*/


* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.drag-list {
    display: flex;
    align-items: flex-start;
}
@media (max-width: 690px) {
    .drag-list {
        display: block;
   }
}
.drag-column {
    flex: 1;
    margin: 0 10px;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
@media (max-width: 690px) {
    .drag-column {
        margin-bottom: 30px;
   }
}
.drag-column h2 {
    font-size: 0.8rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
}
.drag-column-ideas .drag-column-header, .drag-column-ideas .is-moved, .drag-column-ideas .drag-options {
    background: #fcb76f;
}
.drag-column-todo .drag-column-header, .drag-column-todo .is-moved, .drag-column-todo .drag-options {
    background: #fcb76f;
}
.drag-column-doing .drag-column-header, .drag-column-doing .is-moved, .drag-column-doing .drag-options {
    background: #fcb76f;
}
.drag-column-done .drag-column-header, .drag-column-done .is-moved, .drag-column-done .drag-options {
    background: #fcb76f;
}
.drag-column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.drag-inner-list {
    min-height: 50px;
}
.drag-item {
    padding-top: 10px;
    margin: 10px;
    min-height: 100px;
    background: #fcb76f;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.task-title {
    font-size: 20px;
    font-weight: bold;
    color: #bde7fb;
}

.task-description {
    color: #bde7fb;
}

.drag-item.is-moving {
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0.8);
}
.drag-header-more {
    cursor: pointer;
}
.drag-options {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
    transform: translateX(0);
    opacity: 1;
}
.drag-options-label {
    display: block;
    margin: 0 0 5px 0;
}
.drag-options-label input {
    opacity: 0.6;
}
.drag-options-label span {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 5px;
}
/* Dragula CSS */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    list-style-type: none;
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2;
}